
header h1{
    padding: 10px 20px;
}

body {
    max-width: 970px;
    background-image: url("https://cst3990-neeti-express.onrender.com/images/elevated-view-fresh-vegetarian-ingredient-making-spaghetti-pasta.jpg");
    background-size: cover;
    background-attachment: fixed;    
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
}

th {
  background-color: #f5f5f5;
}

.cart {
  padding: 20px 50px;
}
.boxes {
  margin-top: 20px;
}

.verify {
  margin-top: 20px;
}

.submit {
  margin-top:20px;
  float: right;
}

.pagecheckout {
  padding: 20px 50px;
}
.description {
  font-size: 150%;
  margin-top:50px;
}


